lab2/lab2-war/src/conf/xml-resources/web-service-references/NewWebService/wsdl/127.0.0.1_8080/DemoNewWebService/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j210.hse.spbstu.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://j210.hse.spbstu.ru/" name="DemoNewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://j210.hse.spbstu.ru/" schemaLocation="http://127.0.0.1:8080/DemoNewWebService/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllMessage">
<part name="parameters" element="tns:getAllMessage"/>
</message>
<message name="getAllMessageResponse">
<part name="parameters" element="tns:getAllMessageResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="getMessage">
<part name="parameters" element="tns:getMessage"/>
</message>
<message name="getMessageResponse">
<part name="parameters" element="tns:getMessageResponse"/>
</message>
<portType name="NewWebService">
<operation name="getAllMessage">
<input wsam:Action="http://j210.hse.spbstu.ru/NewWebService/getAllMessageRequest" message="tns:getAllMessage"/>
<output wsam:Action="http://j210.hse.spbstu.ru/NewWebService/getAllMessageResponse" message="tns:getAllMessageResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://j210.hse.spbstu.ru/NewWebService/addRequest" message="tns:add"/>
<output wsam:Action="http://j210.hse.spbstu.ru/NewWebService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="getMessage">
<input wsam:Action="http://j210.hse.spbstu.ru/NewWebService/getMessageRequest" message="tns:getMessage"/>
<output wsam:Action="http://j210.hse.spbstu.ru/NewWebService/getMessageResponse" message="tns:getMessageResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DemoNewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://127.0.0.1:8080/DemoNewWebService/NewWebService"/>
</port>
</service>
</definitions>